@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Cairo';
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

div {
    display: inline-block;
}

header,
nav {
    background-color: white;
}

/* header Style */
header {
    height: 75px;
    z-index: 99999;
}

header h2 {
    text-transform: capitalize;
    letter-spacing: 2.3px;
}

header {
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    border-bottom: #607d8b solid 1px;
    position: fixed;
    top: 0;
    width: 100%;
}

header input {
    border: none;
    border-radius: 15px;
    background-color: #eee;
    padding: 5px 15px;
    width: 350px;
}

header a {
    margin-right: 10px;
    font-size: 18px;
}

/*nav bar*/
nav {
    position: fixed;
    width: 100%;
    z-index: 9999;
    margin-top: 0;
    top: 75px;
    border-bottom: #eee solid 1px;
}

ul li {
    display: inline-block;
    width: calc(95% / 8);
    margin: 0 auto;
    padding: 5px 25px;
}

nav ul {
    margin: 5px;
    list-style: none;
    align-items: center;
    transition-duration: 1.5s;
    transition-delay: 1s;
}

/* nav ul :hover{
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
} */


/*main page */

main {
    position: relative;
    top: 100px;
    height: 100vh;
    background-image: url(../Images/inage2.png);
    background-size: auto;
    text-align: center;
}

main>div {
    margin: 60px;
    height: 100vh;
}

main h1 {
    margin-bottom: 10px;
}

main p {
    margin-top: 10px;
}

/* Sections */

/* ------Drugs------*/

div>h2 {
    text-align: center;
}

#Drugs {
    margin-top: 120px;
}

.Drugs {
    padding: 0;
}

div>div {
    display: flex;
    padding: 5px 65px;
}

/* F5F7F8  #F9F9F9*/
div>figure {
    height: 450px;
    width: 310px;
    background-color:#F9F9F9;
    margin: 10px 48px;
    border: none;
    border-radius: 30px;
    position: relative;
}

figure>img {
    object-fit: contain;
    width: 280px;
    height: 230px;
    margin: 15px;
}

figure>div {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

button {
    color: white;
    font-weight: bold;
    width: 80%;
    padding: 10px 0;
    margin: 0 30px;
    background-color: #3081D0;
    border: none;
    border-radius: 25px;
    transition-delay: 0.3s;
}

button:hover {
    box-shadow: 0 0 3px 1px #565564;
}